rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /dashboardConfig/{docId} {
      allow read: if true;
      allow write: if true;
    }

    match /contentItems/{docId} {
      allow read: if true;
      allow write: if true;
    }

    match /lessons/{docId} {
      allow read: if true;
      allow write: if true;
    }

    match /learningPaths/{docId} {
      allow read: if true;
      allow write: if true;
    }

    match /resources/{docId} {
      allow read: if true;
      allow write: if true;
    }

    match /professionalLearning/{docId} {
      allow read: if true;
      allow write: if true;
    }

    match /tarongaTvVideos/{docId} {
      allow read: if true;
      allow write: if true;
    }

    match /liveSessions/{docId} {
      allow read: if true;
      allow write: if true;
    }

    match /liveResponses/{docId} {
      allow read: if true;
      allow write: if true;
    }
  }
}
